[Unit]
Description=Updates Overwatch RSS Feed

[Service]
Type=oneshot
ExecStart=$HOME/go/src/github.com/fbis251/overwatch_feed_generator/get.sh
WorkingDirectory=$HOME/go/src/github.com/fbis251/overwatch_feed_generator
