[Unit]
Description=Updates Overwatch RSS Feed

[Service]
Type=oneshot
ExecStart=/home/your_user/go/src/github.com/fbis251/overwatch_feed_generator/get.sh
WorkingDirectory=/home/your_user/go/src/github.com/fbis251/overwatch_feed_generator
