[Unit]
Description=Hourly Update of Overwatch RSS Feed

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
